@model Moment2.Models.BookModel

<h1>@ViewData["Title"]</h1>

<div class="form-container">
    <form method="post" asp-action="Add">
        <label asp-for="BookName"></label>
        <br>
        <input asp-for="BookName">
        <span asp-validation-for="BookName"></span>
        <br>
        <label asp-for="Author"></label>
        <br>
        <input asp-for="Author">
        <span asp-validation-for="Author"></span>
        <br>
        <label asp-for="ReleaseYear"></label>
        <br>
        <input asp-for="ReleaseYear" max="@ViewBag.CurrentYear">
        <span asp-validation-for="ReleaseYear"></span>
        <br>
        <label asp-for="Read"></label>
        <input asp-for="Read">
        <span asp-validation-for="Read"></span>
        <br>
        <input type="submit" value="Add book" id="submit">
    </form>
</div>