<h1>@ViewData["Title"]</h1>

<p id="welcomeText">
    Welcome to this book inventory app! Here you can add books to your collection
    and get a great overview of all your books! To add a book, visit the "Add book" page. To see your collection, visit the
    "My books" page.
    <br>
    <br>
    Get ready to never loose track of all your books!  
</p>
   