/* Normalisering. */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Dokumentet, body. */
html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Huvudinnehållet. */
main {
    min-height: 100vh;
}

/* Header. */
header {
    padding: 2rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Logotyp. */
#logo {
    width: 100%;
    max-width: 300px;
}

/* Navigerings-meny. */
nav ul {
    list-style-type: none;
    padding: 2rem 0 1rem 0;
    font-weight: bold;
    text-align: center;
}

nav li {
    padding: 0.25rem 0;
}

/* Nav-länkar. */
nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

/* Aktiv länk. */
.active {
    text-decoration: underline;
    font-size: 120%;
    color: darkgreen;
}

/* Rubriker och väkomsttext på startsidan. */
h1,
h2,
#welcomeText {
    text-align: center;
    padding-top: 2rem;
}

#welcomeText {
    padding: 2rem 1rem;
    line-height: 1.6;
    max-width: 60ch;
    margin: 0 auto;
}

/* Avskiljarlinje under navigering. */
.line {
    border-bottom: 3px solid #65ec62;
}

/* Container för formulär/tabell. */
.container {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    overflow-x: auto;
    /* Tabellen blir scrollbar horisontellt i de minsta skärmarna. */
}

/* Tabell för böcker. */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

th {
    background-color: #e9e9e9;
    font-weight: bold;
}

th,
td {
    border: 1px solid #c7c7c7;
    padding: 0.45rem;
    text-align: left;
}

/* Formulär för att lägga till bok. */
form {
    background-color: #e9e9e9;
    padding: 3rem;
    margin: 2rem auto;
}

/* Inputfält förutom checkboxen. */
input:not([type="checkbox"]) {
    margin: 5px 0 1rem 0;
    height: 30px;
    width: 100%;
    max-width: 300px;
    padding-left: 10px;
}

/* Checkboxen. */
#Read {
    margin: 1rem 0;
}

/* Lägg till-knapp. */
#submit {
    background-color: #65ec62;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

/* Felmeddelande. */
span {
    display: block;
    color: red;
}

/* Footer. */
footer {
    height: 75px;
    margin-top: auto;
    background-color: black;
    color: white;
    text-align: center;
}

/* Media-queries. */
@media (min-width: 426px) {

    /* Lägger nav-länkar på en rad och ökar padding. */
    nav li {
        display: inline;
        padding: 0.25rem 1.5rem;
    }

    /* Felmeddelande. */
    span {
        display: inline;
    }
}